@import '../../../styles.scss';
@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';
.container-custom {
  //max-width: 400px;
  margin-top: 20px;
}

.card-custom {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

@media (max-width: $breakpoint-mobile) { /* Mobile */
  .container-custom {
      max-width: 90%;
      margin: 10px auto;
  }
}

@media (max-width: $breakpoint-tablet) { /* Tablet */
  .container-custom {
      max-width: 85%;
      margin: 15px auto;
  }
}

@media (max-width: $breakpoint-desktop) { /* Tablet Landscape */
  .container-custom {
      max-width: 75%;
      margin: 20px auto;
  }
}
  